
@{
    ViewData["Title"] = "Index";
}

@model List<AdminModel.RoleListViewModel>

<div class="row">
    <div class="col-md-6 offset-2">
        <h2>Roller</h2>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" asp-controller="Role" asp-action="RoleCreate" asp-area="Admin">Role Ekle</a>
    </div>

</div>
<div class="row">
   
    <div class="col-md-8 offset-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rol ismi</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td >
                            <a class="btn btn-dark btn-sm" asp-area="admin" asp-controller="role" asp-action="RoleUpdate" asp-route-id="@user.Id">Rol Güncelle</a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>





