
@{
    ViewData["Title"] = "UserList";
}
@model List<AdminModel.UserViewModel>

<h1>Üye Liste</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Rol İşlemleri</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-success" asp-action="AssignRoleToUser" asp-controller="Role" asp-route-id="@user.Id">Rol Ata</a>
                </td>
            </tr>
        }




    </tbody>

</table>

